<body>
    <div class="container">
        <div class="title">
            <h1>Module 11 12 13</h1>
        </div>
        <div class="buttons-container">
            <button [routerLink]="'bai114'">Bài 114</button>
            <button [routerLink]="'bai116'">Bài 116</button>
            <button [routerLink]="'bai118'">Bài 118</button>
            <button [routerLink]="'bai120'">Bài 120</button>
            <button [routerLink]="'bai122'">Bài 122</button>
            <button [routerLink]="'bai124'">Bài 124</button>
            <button [routerLink]="'bai128'">Bài 128</button>
            <button [routerLink]="'bai129'">Bài 129</button>
            <button [routerLink]="'bai130'">Bài 130</button>
            <button [routerLink]="'bai131'">Bài 131</button>
            <button [routerLink]="'bai132'">Bài 132</button>
        </div>
        <router-outlet></router-outlet>
    </div>
</body>
