.container {
    margin: 0 auto;
  }
  
  .title {
    background-color: black !important;
    color: white;
  }
  

  tbody tr:hover {
    background-color: rgb(250, 179, 179);
  }
  
  table,
  tr,
  td {
    border: 1px solid black;
  }
  
