<p class="text-center mt-3 font-weight-bold text-info">Fashion New Works!</p>
<h3 class="text-center bg-dark text-white py-3 my-3 rounded shadow-sm">Fashion New</h3>

<div class="container bg-light p-4 shadow-lg rounded">
  <form>
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td class="font-weight-bold">Fashion Style:</td>
          <td>
            <input type="text" class="form-control" name="style" id="style" placeholder="Nhập Style"
              [(ngModel)]="fashion.style" />
          </td>
        </tr>
        <tr>
          <td class="font-weight-bold">Fashion Subject:</td>
          <td>
            <input type="text" class="form-control" name="fashion_subject" id="fashion_subject"
              placeholder="Nhập Subject" [(ngModel)]="fashion.fashion_subject" />
          </td>
        </tr>
        <tr>
          <td class="font-weight-bold">Fashion Detail:</td>
          <td>
            <input type="text" class="form-control" name="fashion_detail" id="fashion_detail"
              placeholder="Nhập Detail" [(ngModel)]="fashion.fashion_detail" />
          </td>
        </tr>
        <tr>
          <td class="font-weight-bold">Fashion Image:</td>
          <td>
            <input type="file" class="form-control-file" name="fashion_image" id="fashion_image"
              [(ngModel)]="fashion.fashion_image" (change)="onFileSelected($event, fashion)" />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button class="btn btn-primary w-100 my-3 active rounded-4" (click)="postFashion()">Submit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

<div class="container mt-4">
  <p class="text-danger text-center">{{errMessage}}</p>
</div>
