body {
    text-align: justify;
    width: 625px;
    margin: 0 auto;
}

.img {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 6.5fr 3.5fr;
    grid-auto-rows: 1fr;
    column-gap: 10px;
}

.box {
    background-color: rgb(192, 214, 127);
    font-size: 14px;
    font-weight: bold
}

ul {
    list-style-type: disc;
    padding-left: 25px;
}

.footer {
    text-align: center;
    text-transform:uppercase;
}