<body>
    <div class="container">
        <div class="title">
            <!-- Có thể thêm tiêu đề ở đây nếu cần -->
            <h1>Các bài tập Module 8</h1>
        </div>
        <div class="buttons-container">
            <!-- Các nút chọn bài -->
            <button [routerLink]="'bai86'">Bài 86</button>
            <button [routerLink]="'bai87'">Bài 87</button>
            <button [routerLink]="'bai88'">Bài 88</button>
            <button [routerLink]="'bai89'">Bài 89</button>
            <button [routerLink]="'bai90'">Bài 90</button>
            <button [routerLink]="'bai91'">Bài 91</button>
            <button [routerLink]="'bai92'">Bài 92</button>
            <button [routerLink]="'bai93'">Bài 93</button>
        </div>
        <router-outlet></router-outlet> <!-- Đây sẽ hiển thị nội dung của các bài học khi chọn -->
    </div>
</body>
