body {
    background-image: url("./images/Wrap.jpg");
    background-repeat: repeat;
}

table {
    margin: 0 auto;
    background-color: white;
    width: 700px;
}

td {
    vertical-align: top;
    padding: 10px 10px;
}

.left-side {
    background-color: black;
    width: 150px;
    padding: 10px;
}

.left-side h1 {
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-side p {
    color: green;
}

.content-wrapper {
    display: float;
    align-items: center;
}

.img-left {
    margin-right: 20px;
    display: float;
    float: left;
}

.img-right {
    margin-left: 20px;
    display: float;
    float: right;
}

.content-wrapper h1 {
    color: #008000;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-wrapper p {
    text-align: justify;
}

.footer {
    text-align:center; 
    color:#008000;
}

span {
    font-weight: bold;
    color: red;
}

.center {
    text-align: center;
}

.center2 {
    text-align: center;
    background-color: yellow;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #008000;
}

a:hover {
    text-decoration: none;
    color: red;
}