<body>
    <div class="container">
        <div class="title">
            <h1>Module 10</h1>
        </div>
        <div class="buttons-container">
            <button [routerLink]="'bai 100'">Bài 100</button>
            <button [routerLink]="'bai 101'">Bài 101</button>
            <button [routerLink]="'bai 102'">Bài 102</button>
            <button [routerLink]="'bai 103'">Bài 103</button>
            <button [routerLink]="'bai 104'">Bài 104</button>
            <button [routerLink]="'bai 105'">Bài 105</button>
            <button [routerLink]="'bai 106'">Bài 106</button>
            <button [routerLink]="'bai 107'">Bài 107</button>
        </div>
        <router-outlet></router-outlet>
    </div>
</body>
