<h3 class="text-center text-white bg-dark p-3">Fashion</h3>
<div class="container">
  <div class="row">
    <div class="col-10"></div>
    <div class="col">
      <button class="btn btn-dark w-100" (click)="createFashion()">Create New</button>
    </div>
  </div>
</div>

{{errMessage}}

<div class="container">
  <table class="table table-hover" border="1">
    <tr class="bg-info">
      <td>Id</td>
      <td>Fashion Subject</td>
      <td>Fashion Detail</td>
      <td>Image</td>
      <td>Date Added</td>
      <td>#</td>
    </tr>
    <tbody>
      <tr *ngFor="let fashion of fashions">
        <td>{{fashion._id}}</td>
        <td>{{fashion.fashion_subject}}</td>
        <td>{{fashion.fashion_detail}} </td>
        <td>
          <img src="{{fashion.fashion_image}}" width="100px" height="100px">
        </td>
        <td>{{fashion.date_added}}</td>
        <td>
          <button class="btn btn-primary w-100" (click)="detailFashion(fashion._id)">Detail</button>
          <button class="btn btn-light w-100" (click)="updateFashion(fashion._id)">Edit</button>
          <button class="btn btn-dark w-100" (click)="deleteFashion(fashion._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
