<div>
    <h1 [class]="success">Hệ thống thông tin</h1>
    <h1 [class]="error">Hệ thống thông tin</h1>
    <h1 [class]="primary">Hệ thống thông tin</h1>
    <h1 [class]="normal">Hệ thống thông tin</h1>
    <h1 [class]="multiClass">Hệ thống thông tin</h1>
  
    <h2>{{ success }} - Hệ thống thông tin</h2>
    <h2>{{ error }} - Hệ thống thông tin</h2>
    <h2>{{ primary }} - Hệ thống thông tin</h2>
    <h2>{{ normal }} - Hệ thống thông tin</h2>
    <h2 [class]="complexClass">Hệ thống thông tin</h2>
</div>
