<p>fashion-delete works!</p>

<div class="sticky-top bg-light">
  <h3 class="text-center bg-dark text-white p-3">Fashion Delete</h3>
  <div class="container bg-light p-3">
    <table class="table">
      <tr>
        <td>Fashion Id:</td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="fashionId">
        </td>
      </tr>
    </table>
    <button class="btn btn-dark w-25 active rounded-3" (click)="reset()">Reset</button>
    <button class="btn btn-primary w-75 active rounded-3" (click)="deleteFashion(fashionId)">Delete</button>
  </div>

  <div class="container">
    <p class="text-danger">{{errMessage}}</p>
  </div>
</div>

<div class="container">
  <table class="table table-hover" border="1">
    <tr class="bg-info">
      <td>Id</td>
      <td>Fashion Subject</td>
      <td>Fashion Detail</td>
      <td>Image</td>
    </tr>
    <tbody>
      <tr *ngFor="let fashion of fashions">
        <td>{{fashion._id}}</td>
        <td>{{fashion.fashion_subject}}</td>
        <td>{{fashion.fashion_detail}} </td>
        <td>
          <img src="{{fashion.fashion_image}}" width="100px" height="100px">
        </td>
      </tr>
    </tbody>
  </table>
</div>
