<div class="bg-light">
    <h3 class="text-center bg-dark text-white p-3">Fashion Update</h3>
    <div class="container bg-light p-3">
      <table class="table">
        <tr>
          <td>Fashion Style:</td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="fashion.style">
          </td>
        </tr>
        <tr>
          <td>Fashion Subject:</td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="fashion.fashion_subject">
          </td>
        </tr>
        <tr>
          <td>Fashion Detail:</td>
          <td>
            <ckeditor [(ngModel)]="fashion.fashion_detail" ></ckeditor>
          </td>
        </tr>
        <tr>
          <td>Fashion Image:</td>
          <td>
            <input type="file" class="file-input" #name="ngModel" name="fashion_image" id="fashion_image"
              [(ngModel)]="fashion.fashion_image" (change)="onFileSelected($event,fashion)" />
          </td>
        </tr>
        <tr>
          <td>
            <div class="row">
              <button class="btn btn-danger w-50 active rounded-3" (click)="goBack()">Back</button>
              <button class="btn btn-dark w-50 active rounded-3" (click)="reset()">Reset</button>
            </div>
          </td>
          <td>
            <button class="btn btn-primary w-100 active rounded-3" (click)="putFashion(fashion._id)">Update</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="container">
      <p class="text-danger">{{errMessage}}</p>
    </div>
  </div>
  
  <div class="container">
    <p>Current image</p>
    <div class="row">
      <div class="col"></div>
      <div class="col-10 text-center">
        <img src="{{fashionselected.fashion_image}}" width="250">
      </div>
      <div class="col"></div>
    </div>
  </div>
  