<p class="intro">lunar-year works!</p>
<div class="converter">
  <h1>Chuyển đổi Dương lịch thành Âm lịch</h1>
  
  <div class="dropdowns">
    <div class="input-group">
      <label for="day">Ngày</label>
      <input type="number" id="day" [(ngModel)]="dd" min="1" max="31">
    </div>
    
    <div class="input-group">
      <label for="month">Tháng</label>
      <input type="number" id="month" [(ngModel)]="mm" min="1" max="12">
    </div>
    
    <div class="input-group">
      <label for="year">Năm</label>
      <input type="number" id="year" [(ngModel)]="yy">
    </div>
  </div>
  
  <button class="btn-convert" (click)="Run(dd, mm, yy, 7)">Chuyển đổi</button>
  
  <div class="result">
    <h2>Âm Lịch</h2>
    <table>
      <tr>
        <th>Thứ trong tuần</th>
        <td>{{ weekday }}</td>
      </tr>
      <tr>
        <th>Ngày tháng năm âm</th>
        <td>{{ date }}</td>
      </tr>
      <tr>
        <th>Năm</th>
        <td>{{ year }}</td>
      </tr>
      <tr>
        <th>Tháng</th>
        <td>{{ month }}</td>
      </tr>
      <tr>
        <th>Ngày</th>
        <td>{{ day }}</td>
      </tr>
    </table>
  </div>
</div>
